.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero span {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.hero button {
  margin-top: 20px;
  padding: 14px 36px;
  border-radius: 30px;
  border: none;
  background: var(--gradient);
  font-weight: 700;
}
